---
title: "{{{title}}}"
name: "{{{name}}}"
categories:
{{#categories}}
  - "{{{.}}}"
{{/categories}}
synopsis: "{{{synopsis}}}"
date: "{{{uploaded}}}"
authors:
  - "{{{author}}}"
maintainers:
  - "{{{maintainer}}}"
hackage: "{{{hackage}}}" 
stackage: "{{{stackage}}}" 
source:
{{#source}}
  - "{{{.}}}"
{{/source}}
versions:
{{#versions}}
  - "{{{.}}}"
{{/versions}}
---

